/* style.css */
body{
    background-image: url(tlo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


        body { cursor: url(‘amongus.cur''), default; }		
	body, a, a:hover
	{
	cursor: url('amongus.cur'), default;
	}

<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js">
</script>
