/* style.css */
body{
    background-image: url(tlo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


        body { cursor: url('amongus.cur'), default; }		

.center {
  text-align: center;
}
